In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
ser1 = Series(np.arange(3), index=['a', 'b', 'c'])
ser1

a    0
b    1
c    2
dtype: int32

In [4]:
# Drop a row with index b, return a new series without the dropped row (Not change the current series)
ser1.drop('b')

a    0
c    2
dtype: int32

In [5]:
# Another way for dropping a value in series using reindexing
ser1.reindex(['a','c'])

a    0
c    2
dtype: int32

In [6]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)), index=['SF', 'LA', 'NY'], columns=['pop', 'size', 'year'])
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [7]:
# Drop a row in the data frame, but data frame 1 won't be affected
dframe2 = dframe1.drop('LA')
dframe2

    pop  size  year
SF    0     1     2
NY    6     7     8

In [8]:
# Drop the column, the axis of column is 1, by default it will drop the row, axis of the row is 0
dframe3 = dframe1.drop('year', axis=1)
dframe3

    pop  size
SF    0     1
LA    3     4
NY    6     7

In [9]:
# Dropping both column and index at the same time
dframe4 = (dframe1.drop('year', axis=1)).drop('LA')
dframe4

    pop  size
SF    0     1
NY    6     7

In [10]:
# Another way for dropping row and column at the same time with reindexing
dframe1.reindex(index=['SF', 'NY'], columns=['pop', 'size'])

    pop  size
SF    0     1
NY    6     7