In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd 

from numpy.random import randn

In [14]:
ser = Series(randn(6), index = [[1,1,1,2,2,2], ['a','b','c','a','b','c']])
ser

1  a    0.455846
   b   -0.187208
   c    0.497412
2  a    0.763332
   b    0.540763
   c   -1.277920
dtype: float64

In [15]:
ser[1]

a    0.455846
b   -0.187208
c    0.497412
dtype: float64

In [16]:
ser[1]['a']

0.45584626657908794

In [17]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [25]:
# From every higher levels, select values associate with level a
ser[:,'a']

1    0.455846
2    0.763332
dtype: float64

In [28]:
# Unstack the series into a dataframe
dframe = ser.unstack()
dframe

          a         b         c
1  0.455846 -0.187208  0.497412
2  0.763332  0.540763 -1.277920

In [31]:
dframe2 = DataFrame(np.arange(16).reshape(4,4), 
                    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                    columns=[['NY', 'NY', 'LA', 'SF'], ['cold', 'hot', 'hot', 'cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [33]:
# Give names to the indexes and columns
dframe2.index.names = ['INDEX_1', 'INDEX_2']
dframe2.columns.names = ['Cities', 'Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [38]:
dframe2.swaplevel('Cities', 'Temp', axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [45]:
# Sort the index level 1 of data frame 2
dframe2.sortlevel(1)

/Users/user/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [46]:
# Sum the level Temp of dataframe2
dframe2.sum(level='Temp', axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27