In [10]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [11]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [17]:
# Reindex the series (Extending the series?)
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [18]:
# Reindex the series and fill newly created value with default value of 0
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [32]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [34]:
ranger = range(14)
ranger

range(0, 14)

In [36]:
# Reindex series, method ffill = forward fill
# Forward fill: Fill the in-between null values with the first non-null value before those null values
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
dtype: object

In [39]:
ser4 = Series(['Mexico', 'Canada'], index=[5,10])
ser4

5     Mexico
10    Canada
dtype: object

In [40]:
ranger = range(14)
ranger

range(0, 14)

In [42]:
# Forward fill, only gaps after Mexico and Canada be filled since before that there's no non-null values
ser4.reindex(ranger, method='ffill')

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
dtype: object

In [53]:
# Create a 1x25 matrix with random numbers and reshape into a 5x5 matrix
# Then apply a list of index a columns to this 5x5 matrix to make it a DataFrame
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -1.063430 -2.231046 -0.353448  0.404637  0.254701
B  0.539543 -0.261574  0.141174 -1.099761 -0.913846
D -0.134225  0.017442 -0.831512  0.355990  0.525748
E -1.022529  0.661935 -0.791728  0.166503  0.228626
F -1.524312  1.148533  0.993653 -1.167994  0.326937

In [57]:
# Reindex the dataframe - add new row
dframe2 = dframe.reindex(index=['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A -1.063430 -2.231046 -0.353448  0.404637  0.254701
B  0.539543 -0.261574  0.141174 -1.099761 -0.913846
C       NaN       NaN       NaN       NaN       NaN
D -0.134225  0.017442 -0.831512  0.355990  0.525748
E -1.022529  0.661935 -0.791728  0.166503  0.228626
F -1.524312  1.148533  0.993653 -1.167994  0.326937

In [60]:
# Reindex the dataframe - add new columns
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_coumns)

       col1      col2      col3      col4      col5  col6
A -1.063430 -2.231046 -0.353448  0.404637  0.254701   NaN
B  0.539543 -0.261574  0.141174 -1.099761 -0.913846   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.134225  0.017442 -0.831512  0.355990  0.525748   NaN
E -1.022529  0.661935 -0.791728  0.166503  0.228626   NaN
F -1.524312  1.148533  0.993653 -1.167994  0.326937   NaN

In [63]:
# Another quick way for reindexing the data frame 1 to data frame 2
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -1.063430 -2.231046 -0.353448  0.404637  0.254701   NaN
B  0.539543 -0.261574  0.141174 -1.099761 -0.913846   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.134225  0.017442 -0.831512  0.355990  0.525748   NaN
E -1.022529  0.661935 -0.791728  0.166503  0.228626   NaN
F -1.524312  1.148533  0.993653 -1.167994  0.326937   NaN

In [76]:
# Reindex both rows and columns at the same time
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F', 'G'], ['col1']]

       col1
A -1.063430
B  0.539543
C       NaN
D -0.134225
E -1.022529
F -1.524312
G       NaN