In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [4]:
# Create a series of integers
obj = Series([3, 6, 9, 12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [7]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj[2]

9

In [11]:
# Make a series for WWII casualties
# Index of the value is the contry name
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 400000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [16]:
ww2_cas['USA']

400000

In [18]:
ww2_cas > 4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [20]:
# Check which countries had casualties greater than 4,000,000
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [22]:
# Check if an index is in the series
'USSR' in ww2_cas

True

In [23]:
# Convert series to dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [26]:
# Convert dictionary to a series
ww2_cas = Series(ww2_dict)
ww2_cas

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [33]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [35]:
# Create series from the dictionary with index from the list of countries
# Any index that is not in the dictionary will have a null value in the series
obj2 = Series(ww2_dict, index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [38]:
# See which value in series is null
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [39]:
# See which values in series not null
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [41]:
ww2_cas

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [43]:
# Add two series together lining up by index
ww2_cas + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [46]:
# Set a name for this series
obj2.name = "World War 2 Casualties"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [47]:
# Set a label for the index
obj2.index.name = 'Countries'
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64